PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_USER=your-database-username
DB_PASSWORD=your-database-password
DB_NAME=your-database-name
DB_PORT=database-port-number

# JWT Configuration
JWT_ACCESS_SECRET=create-256-bit-key
JWT_REFRESH_SECRET=create-256-bit-key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Password Reset
RESET_TOKEN_EXPIRES_IN=1h

# Email Configuration (for password reset)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password

# CSRF Protection
CSRF_JWT_SECRET=create-256-bit-key

#logging
CONSOLE_LOGS=true
API_LOGGING=true
LOG_LEVEL=debug
LOG_TIMEZONE=Asia/Omsk # get the TZ identifier from https://en.wikipedia.org/wiki/List_of_tz_database_time_zones